  * {
    box-sizing: border-box;
  }

  body {
    font-size: 14px;
  }

  .v26_62 {
    width: 100%;
    height: 1024px;
    background: linear-gradient(rgba(255, 255, 0, 1), rgba(255, 255, 0, 0.45985403656959534));
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }

  .v25_60 {
    width: 100%;
    height: 100%;
    background: url("image/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 11px;
    overflow: hidden;
  }

  .v1_93 {
    width: 571px;
    height: 97px;
    background: linear-gradient(rgba(208, 79, 61, 1), rgba(228, 156, 146, 1));
    opacity: 1;
    position: absolute;
    top: 167px;
    left: 434px;
    border: 1px solid rgba(140, 57, 57, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v1_94 {
    width: 428px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 176px;
    left: 480px;
    font-family: ABeeZee;
    font-weight: Italic;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_2 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 446px;
    left: 1182px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_4 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 563px;
    left: 1182px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_6 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 680px;
    left: 1182px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_9 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 797px;
    left: 1182px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_11 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 446px;
    left: 1011px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_12 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 563px;
    left: 1011px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_13 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 680px;
    left: 840px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_18 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 680px;
    left: 669px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_21 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 797px;
    left: 498px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_24 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 446px;
    left: 498px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_27 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 563px;
    left: 327px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_29 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 446px;
    left: 156px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_32 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 797px;
    left: 156px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_33 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 680px;
    left: 156px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_34 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 563px;
    left: 156px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_30 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 797px;
    left: 327px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_31 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 680px;
    left: 327px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_28 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 446px;
    left: 327px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_25 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 563px;
    left: 498px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_26 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 680px;
    left: 498px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_22 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 446px;
    left: 669px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_23 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 563px;
    left: 669px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_19 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 797px;
    left: 669px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_20 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 797px;
    left: 840px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_14 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 563px;
    left: 840px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_15 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 446px;
    left: 840px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_16 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 797px;
    left: 1011px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_17 {
    width: 101px;
    height: 92px;
    background: rgba(96, 185, 96, 1);
    opacity: 1;
    position: absolute;
    top: 680px;
    left: 1011px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .v24_3 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 563px;
    left: 1198px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_7 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 680px;
    left: 1198px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_10 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 797px;
    left: 1198px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_36 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 446px;
    left: 685px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_45 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 453px;
    left: 515px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_49 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 805px;
    left: 513px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_52 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 450px;
    left: 343px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_53 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 780px;
    left: 344px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_56 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 566px;
    left: 170px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_59 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 446px;
    left: 169px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_57 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 674px;
    left: 172px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_58 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 783px;
    left: 171px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_54 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 685px;
    left: 342px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_55 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 571px;
    left: 344px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_50 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 676px;
    left: 514px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_51 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 556px;
    left: 515px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_46 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 799px;
    left: 685px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_47 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 680px;
    left: 686px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_48 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 566px;
    left: 685px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_37 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 802px;
    left: 857px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_38 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 685px;
    left: 857px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_39 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 569px;
    left: 856px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_40 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 453px;
    left: 856px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_41 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 799px;
    left: 1026px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_42 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 673px;
    left: 1028px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_43 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 556px;
    left: 1026px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_44 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 432px;
    left: 1027px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v24_5 {
    width: 69px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 462px;
    left: 1198px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Irish Grover;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: center;
  }

  .v26_140 {
    width: 262px;
    height: 290px;
    background: url("image/kids.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 38px;
    overflow: hidden;
  }